.buttonContainer {
    display: inline-block;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: 0;
    cursor: pointer;
    border-radius: 8px;
    box-shadow: 0 2px 5px 0 rgb(213 217 217 / 50%);
    background: #FFD814;
    border: 1px solid #FCD200;
    font-size: 13px;
    height: 31px;
    padding: 0 11px;
    text-align: center;
    width: fit-content;
    min-width: 200px;
    font-weight: 500;
    color: #0F1111;
    line-height: 1.25rem;
    margin-top: .6em;
    margin-bottom: .6em;
}
    /* :hover{
        background: #F7CA00;
        border-color: #F2C200;
        box-shadow: 0 2px 5px 0 rgb(213 217 217 / 50%);
    } */
    

.info {
    background: #FFD814;
    border: 1px solid #FCD200;
}

.large {
    height: 50px;
}

