.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.wrapper {
    width: 500px;
    background-color: var(--bgSoft);
    padding: 50px;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 30px;
    border-radius: 5px;
}

.wrapper > form {
    display: flex;
    flex-direction: column;
    gap: .5em;
}

.wrapper > form > input {
    border: 1px solid black;
    padding: 5px;
    border-radius: 8px;
}

