.modalIconContainer {
    display: flex;
    margin: 0 auto;
}

.modalIcon--information,
.modalIcon--edit,
.modalIcon--confirm,
.modalIcon--warning,
.modalIcon--error {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0 auto .5em auto;
    font-size: 2em;
    height: fit-content;
    /* font-size: 1.5em; */
}

.modalIcon--warning,
.modalIcon--error {
    color: #ff0000;
}

.modalIcon--information,
.modalIcon--confirm,
.modalIcon--edit {
    color: #2196f3;
}

