.modalContainer {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    max-width: 1024px;
    z-index: 500;
}

.modalBody--information,
.modalBody--confirm, 
.modalBody--edit,
.modalBody--warning,
.modalBody--error {
    position: relative;
    height: auto;
    padding: 1rem;
    border-radius: 1rem;
}

.modalBody--information,
.modalBody--edit,
.modalBody--confirm {
    background-color: #e3f2fd;
    border: 2px solid #1d7a9b;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}



.modalBody--warning,
.modalBody--error {
    background-color: #ffdbcc;
    border: 2px solid #ff532d;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.closeBtn--information,
.closeBtn--edit,
.closeBtn--confirm,
.closeBtn--warning,
.closeBtn--error {
    position: absolute;
    top: -10px;
    right: -10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    padding: 0;
    margin: 0;
}

.closeBtn--information,
.closeBtn--edit,
.closeBtn--confirm {
    background-color: #1d7a9b;
    color: #ffffff;
}

.closeBtn--warning,
.closeBtn--error {
    background-color: #ff532d;
    color: #ffffff;
}