@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --colorDark: #1c1c1c;
  --colorLighter: #fafaff;
  --colorLight: #eef0f2;
  --colorMiddle: #ecebe4;
  --colorDarker: #979797;
  --bgModal: #daddd8;

}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--colorDark);
  background: var(--colorLighter);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
