.toggleBtn,
.active {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    outline: 0;
    cursor: pointer;
    text-align: center;
    border: 1px solid #babfc3;
    min-height: 36px;
    min-width: 36px;
    padding: .5rem 5px;
    width: 100%;
    color: #202223;
    background: #ffffff;
    border-radius: 4px;
    font-weight: 500;
    font-size: 12px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 0px 0px;
    border: 2px solid transparent;
}

.active {
    border: 2px solid #bedd3d;
    background-color: #f5ffca;
    font-size: 40px;
}

.buttonTitle {
    width: 40%;
}

.stats {
    display: flex;
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: left;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-size: .6rem;
    gap: .8em;
}

.statsEntries,
.statsValue {
    display: flex;
    flex-direction: row;
    gap: 5px;
    justify-content: space-evenly;
}

.statsEntries {
    background-color: green;
}


.entriesCounter {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20px;
    width: fit-content;
    min-width: 20px;
    border-radius: 50%;
    border: 2px solid #6e8594;
    background-color: #d9ed92;
    color: #1b4965;
    padding: 5px;
    margin: 0;
    /* color: rgba(36, 36, 36, 0.443) */
}

@media  screen and (min-width: 720px) {
    .toggleBtn,
    .active {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        outline: 0;
        cursor: pointer;
        text-align: center;
        border: 1px solid #babfc3;
        /* padding: 7px 16px; */
        min-height: 36px;
        min-width: 36px;
        width: 100%;
        color: #202223;
        background: #ffffff;
        border-radius: 4px;
        font-weight: 500;
        font-size: 16px;
        box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 0px 0px;
        border: 2px solid transparent;
    }

    .stats {
        font-size: .8rem;
    }

    .statsTitle {
        display: block;
    }
}