.budgetCtaContainer {
    display: flex;
    flex-direction: row;
}

.budgetEditBtnContainer {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    width: fit-content;
    margin-left: 1rem;;
}

.editBtn,
.deleteBtn,
.backBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    gap: 8px;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 500;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    margin: 0 .5rem;
}

.editBtn {
    color: #ffffff;
    background-color: #0077b6;
}

.deleteBtn {
    color: #ffffff;
    background-color: #ff5400;
}

.backBtn {
    background-color: #a7c957;
}
  
.editBtn i {
    font-size: 18px;
}

.editBtn:hover,
.deleteBtn:hover,
.backBtn:hover {
    transform: scale(1.05);
}

.editBtn:hover {
    background-color: #007bff;
}

.deleteBtn:hover {
    background-color: #b50000;
}

.backBtn:hover {
    background-color: #849f46;
}

.editBtn:active {
transform: scale(0.98);
}